1.Load a csv , set new column name
2.Rename column name (1column,multiple colum)
3.Load a data set ,set one column as index column
4.split your data into multiple files with respect to rows and columns
load the deffault file and manage them to find file

In [10]:
import pandas as pd 
import numpy as np
df = pd.read_csv("new_iris.csv")
print(df)
df["Names"]=""
df.head()

     Unnamed: 0  sepal_length  sepal width  petal length  petal width  class
0             0           5.1          3.5           1.4          0.2      1
1             1           4.9          3.0           1.4          0.2      1
2             2           4.7          3.2           1.3          0.2      1
3             3           4.6          3.1           1.5          0.2      1
4             4           5.0          3.6           1.4          0.2      1
..          ...           ...          ...           ...          ...    ...
145         145           6.7          3.0           5.2          2.3      3
146         146           6.3          2.5           5.0          1.9      3
147         147           6.5          3.0           5.2          2.0      3
148         148           6.2          3.4           5.4          2.3      3
149         149           5.9          3.0           5.1          1.8      3

[150 rows x 6 columns]

,Unnamed: 0,sepal_length,sepal width,petal length,petal width,class,Names
0,0,5.1,3.5,1.4,0.2,1,
1,1,4.9,3.0,1.4,0.2,1,
2,2,4.7,3.2,1.3,0.2,1,
3,3,4.6,3.1,1.5,0.2,1,
4,4,5.0,3.6,1.4,0.2,1,