In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\jeffi\appdata\roaming\python\python311\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\jeffi\appdata\roaming\python\python311\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jeffi\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jeffi\appdata\roaming\python\python311\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\jeffi\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\jeffi\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd 
df=pd.read_csv("data.csv")

df.head(2)

,age,sex,cp,trestbps,chol,fps,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2

Create a class pandas_Name that will help you to read a csv file and print the top/bottom n rows in the file.
class pandas_Name:
    init()
        stores the data 
    read_csv()
        reads a csv file
    head()
        prints the top n rows
    tail()
        to print the bottom n rows

In [ ]:
class pandas_Name:
    def __intit__(self):
        self.